
<!-- Search widget-->
<!-- <div class="card mb-4">
    <div class="card-header">Search</div>
    <div class="card-body">
        <div class="input-group">
            <input class="form-control" id="query" type="search" name="q" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
        </div>
    </div>
</div> -->
<!-- Archive Widget -->
<div class="card mb-4">
    <div class="card-header"> Blog Posts: 2021 </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0"> <div class="fs-5 mb-2"><b>July</b></div>
            <!-- <li><a href=/blog/2021/07/23/ready-set-go.html>- Ready, Set, Go!</a></li> -->
            <li><a href=/blog/2021/07/27/how-to-loft-canoe-plans-from-a-table-of-offsets.html>- How to loft canoe plans from a table of offsets</a></li>
            <li class="mb-2"><a href=/blog/2021/07/30/building-a-cedar-strip-canoe-milling-the-wood-and-setup.html>- Building a cedar strip canoe: milling the wood and setup</a></li>
        </ul>
        <ul class="list-unstyled mb-0"> <div class="fs-5 mb-2"><b>August</b></div>
            <li><a href=/blog/2021/08/06/building-a-cedar-strip-canoe-stripping-the-hull-and-installing-the-outer-stems.html>- Building a cedar strip canoe: stripping the hull and installing the outer stems</a></li>
            <!-- <li><a href=/blog/2021/08/10/book-review-sapiens-a-brief-history-of-humankind.html>- Sapiens: A Brief History of Humankind</a></li> -->
            <li><a href=/blog/2021/08/12/building-a-cedar-strip-canoe-fiberglassing.html>- Building a cedar strip canoe: fiberglassing</a></li>
            <li><a href=/blog/2021/08/15/how-to-weave-cane-seats-for-a-canoe.html>- How to weave cane seats for a canoe</a></li>
            <!-- <li class="mb-2"><a href=/blog/2021/08/22/book-review-dune.html>- Dune</a></li> -->
        </ul>
        <!-- <ul class="list-unstyled mb-0"> <div class="fs-5 mb-2"><b>September</b></div>
            <li class="mb-2"><a href=/blog/2021/09/11/san-ti-intro.html>- 三体 intro</a></li>
        </ul>
        <ul class="list-unstyled mb-0"> <div class="fs-5 mb-2"><b>October</b></div>
            <li class="mb-2"><a href=/blog/2021/10/18/oktoberfest-a-fine-fall-party.html>- Oktoberfest: A Fine Fall Party</a></li>
        </ul> -->
    </div>
</div>
<!-- Categories widget-->
<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="/categories/canoe.html">Canoe</a></li>
                    <li><a href="/categories/tutorial.html">Tutorial</a></li>
                    <!-- <li><a href="#!">Sewing</a></li> -->
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <!-- <li><a href="/categories/bookReview.html">Book Reviews</a></li> -->
                    <!-- <li><a href="/categories/event.html">Events</a></li> -->
                    <!-- <li><a href="#!">Food</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>